* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

body:has(.job-details) {
    background-color: var(--primary-color);
}

:root {
    --primary-color: #D4DEF7;
    --secondary-color: #062983;
    --tertiary-color: #38549C;
    --text-color: #0E151D;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.apply-btn {
    width: 300px;
    max-width: 150px;
    background-color: var(--tertiary-color);
    border: none;
    color: #fff;
    border: 1px solid transparent;
}

.apply-btn:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color) !important;
    border: 1px solid var(--tertiary-color);
}



select {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    font-size: 20px;
}

select option {
    font-size: 20px;
    padding: 10px;
}

.search-btn {
    font-size: 20px;
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
    padding: 10px;
}

.search-btn:hover {
    background-color: var(--secondary-color);
}

.job-listings-heading {
    color: #000;
}

.job-listing {
    background-color: white;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.job-listing:hover {
    background-color: var(--primary-color) !important;
}


.filter {
    background-color: var(--primary-color);
}

.job-title,
.location {
    color: #000;
}


.days-left {
    font-size: 15px !important;
    display: inline-block;
}
















/* utility classes */

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}


.filter-label {
    color: #000;
}

.job-details {
    background-color: white;
    margin-bottom: 2rem;
}

.job-content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.application-form-header h1 {
    margin-bottom: 0;
}

.application-form-container {
}

.application-form-heading {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 600;
}

.form-floating > .form-control {
    border: 1px solid #ced4da;
}

.form-floating > .form-control:focus {
    border-color: var(--tertiary-color);
    box-shadow: 0 0 0 0.25rem rgba(56, 84, 156, 0.25);
}