# Prioritize PHP as the primary language
*.php linguist-language=PHP

# Ensure these files are detectable for language statistics
*.js linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true
*.sql linguist-detectable=true
